
.info{
  padding: 60px 0;
}


.info__list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__item-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 23px 20px;
  background: radial-gradient(94.16% 115.68% at 100% 32.78%, rgb(255, 255, 255) 0%, rgb(243, 245, 255) 78.18462252616882%, rgb(248, 248, 255) 100%);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.info__item {
  position: relative;
  gap: 10px;

  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
  padding: 1px;
}

.info__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 11px; 
  padding: 1px; 
  background: linear-gradient(157deg, #fff 15%, #d7dbff 97%);
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: subtract;
  z-index: 100; 
}


.info__item::after{
  position: absolute;
  top: 0px;
  left: -7px;
  content: '';
  border-radius: 20px;
  width: 100%;
  height: calc(100% + 2px);
  background: #e0e3ff;
  transform: rotate(-.83deg);
  transition: transform .3s;
  z-index: -1;
}

.info__item_needed.info__item::after{
  background: #ffe5be;
}

.info__item_available .info__item-top__status{
  color: #f2ae47;
}

.info__item-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding .3s;
}

.info__item_active .info__item-top{
  padding: 0 0 23px 0;
}

.info__item-top__title{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--txt-dark);
}
.info__item_disabled .info__item-top__title{
  color: #9b9fca;
}

.info__item_disabled{
  cursor: not-allowed;
}

.info__item-top__status{
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--cveta-diagrammy-green);
}
.info__item_disabled .info__item-top__status{
  color: #9b9fca;
}
.info__item_needed .info__item-top__status{
  color: #f2ae47;
}


.info__item-content{
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows .3s;
}

.info__item_active .info__item-content{
  grid-template-rows: 1fr;
}

.info__item-body{
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 0;
  transition: padding .3s;
}

.info__item-body__title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text_center{
  margin-bottom: 20px ;
  margin-top: 0;
}

.info__item-body__wrapper{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--txt-dark);
}

.info__item-body__wrapper p:not(:last-child) {
  margin-bottom: 20px;
}

.info__item-body__wrapper{
  padding: 20px;
  background-color: #fff;

  border-radius: 10px;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 140%;
  color: var(--txt-dark);
}



.info__item-tab__buttons{
  display: flex;
  justify-content: space-between;
}

.info__item-tab__button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px 0;
  width: 108px;
  height: 46px;
  box-shadow: inset 1px 1px 7px 0 rgba(120, 124, 160, 0.25);
  background: #fefefe;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--txt-gray-violet);
}


.info__item-tab__button_active{
  background: #e0e3ff;
  box-shadow: unset;
}

.info__item-tab__contents{
  margin-top: 30px;
}

.info__item-tab__content{
  display: none;
  opacity: 0;
  transition-duration: .3s;
}

.info__item-tab__content_active{
  display: block;
  opacity: 1;
  @starting-style{
    opacity: 0;
  }
}


.info__item-help{
  display: none;
  position: absolute;
  top: -15px;
  right: -185px;
  padding: 20px;

  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--txt-gray-violet);
  box-shadow: 0 1px 10px 0 rgba(162, 165, 192, 0.2);
  background: #fff;
  opacity: 0;
  transition-duration: .3s;  transition-behavior: allow-discrete;
}

.info__item-help span{
  font-weight: 600;
}

.info__item-help_active{
  display: block;
  opacity: 1;
  @starting-style{
    opacity: 0;
  }
}


.info__item-body__list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.info__item-body__list:last-child{
  margin-bottom: 0;
}

.info__item-body__item{
  position: relative;

  padding-left: 34px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--txt-dark);
}

.info__item-top_none{
  display: none;
}

@media (max-width: 1700px) {
  .info__item-help{
    top: -65px;
    right: 0;
  }
}


@media (max-width: 767px) {
  .info__item-body__wrapper{
    font-size: 16px;
    padding: 10px;
  }
  .info__item-tab__button{
    font-size: 14px;
    max-width: 100px;
    width: 100%;
    height: auto;
    padding: 8px 0;
  }
}