@font-face {
  font-family: 'Tenor sans';
  src: url(../fonts/TenorSans/TenorSans-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont/Mont-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont/Mont-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont/Mont-BoldItalic.ttf);
  font-style: normal;
  font-weight: 700;
}